body, html {
  font-family: "Plus Jakarta Sans", Helvetica, Arial, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Pastikan hanya ada scrollbar vertikal jika dibutuhkan */
  height: 100%;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: 300px;
  padding: 1px 16px 16px;
  align-items: center;
}

/* Mengatur gaya judul */
.top {
  width: 95%;
  height: auto;
  padding: 16px;
  padding-top: 1px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 15px;
}
.img-container {
    position: relative; /* Kontainer untuk gambar dan teks */
}
.img-header {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.104);
    backdrop-filter: blur(1px);
    border-bottom-style: solid;
    border-bottom-color: #B8B8B8;
    border-bottom-width: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: top 0.3s;
}
header img {
    margin-left: 60px;
    margin-right: auto;
    opacity: 2;
    width: 20%;
    height: auto;
}
.header-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 170px;
}
.item {
    font: 600 15px/0.88 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.item:hover {
    color: #1D4AE8;
}
.item.active {
    color: #1D4AE8;
}
.hidden {
    top: -100px; /* Geser header keluar dari tampilan */
}


.middle {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 100px;
}
.middle h1 {
    font: 600 20px/0.88 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    margin-left: 0;
    margin-right: auto;
}
.select-kontrol {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    /* border-bottom: 1.5px solid #C6C2DE; */
}
.select-kontrol a {
    text-decoration: none;
    font: 500 14px/0.88 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 7px;
    padding-bottom: 9px; /* Tambahkan padding-bottom untuk ruang border */
    box-sizing: border-box;
}
.select-kontrol a.active {
    color: #1D4AE8;
}
.select-kontrol a:hover {
    color: #1D4AE8;
    border-bottom: 2px solid #1D4AE8;
    z-index: 2;
}
.border {
    display: flex;
    height: 1.5px;
    width: 100%;
    background-color: #C6C2DE;
    z-index: 1;
}
.fill {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.filter{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #F3F9FA;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.filter p {
    font: 400 16px/0.5 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #25213B;
}
.tambah {
    display: flex;
    background-color: #1D4AE8;
    font: 500 12px/2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #ffffff;
    height: 39px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.tambah:hover {
    background-color: #1536ab;
}
table {
    font-family: "Plus Jakarta Sans", Helvetica, Arial, serif;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    width: 100%;
  }
  th {
    font: 500 12px/2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #000000;
    text-decoration: solid;
  }
  td {
    font: 600 12px/2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #000000;
    text-decoration: solid;
  }
  td, th {
    border: 1.3px solid #D9D5EC;
    text-align: center;
    padding: 8px;
    border-left: none;
    border-right: none;
  }
  
  tr:nth-child(odd) {
    background-color: #F3F9FA;
  }

  table .active {
    display: flex;
    flex-direction: row;
    background-color: #1D4AE8;
    gap: 5px;
    width: 58px;
    height: 19px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font: 500 12px/2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #ffffff;
    border-radius: 10px;
  }
  .active .dot {
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  .ch {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: auto;
    height: 19px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font: 500 12px/2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #000000;
    border-radius: 10px;
  }
  .ch .check {
    display: flex;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    border: 2px solid #1D4AE8;
    color: #1D4AE8;
    border-radius: 10px;
  }
  .ch img {
    cursor: pointer;
  }

  /* Style for the popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Popup content */
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .popup {
    flex-direction: column;width: 100%;
    height: 100%;
  }
  .popup-content {
    flex-direction: row;
    width: 300px;
    height: 50px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    scale: 80%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  